

.navbar-collapsed {
    background-color: whitesmoke;
}

.brand_title
{
    font-family: 'Nova Round', cursive;
    position: relative;
    top: 7px;
    color: black;
    font-size: 30px;
    margin-top: 200px;
}

.nav-link{
    font-family: 'Nova Round', cursive;
    font-size: 20px;
    margin-right: 20px;



}


.contnet_centered{
    justify-content: center;
}

.navbar{
    background-color:whitesmoke;

}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav{
        text-align: center;
    }
}