.card-img-top {
    height: 10rem;
    object-fit: cover;
}
.card_title{
    /* height: 40px; */
    font-family: 'Nova Round', cursive;
    display: -webkit-box!important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-bottom: 0px;

}

.no_overflow{
    display: -webkit-box!important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.card_text_main{
    /* color: #63C019; */
    font-weight: bold;
    margin-bottom: 0px;
}