#toast_id{
    max-width: none;
}
#new_course_all{
    margin-top: 140px;
     margin-bottom: 70px;
}

#image_header{
    font-family: 'Nova Round', cursive;
    color: black;
    font-size: 60px;
    text-align: center;
}

#new_course_image{
    width: 100%;
}

#new_course_text_area{
    height: 240px;
}

#new_course_name{
    height: 100%;
}

.new_course_label{
    font-family: 'Nova Round', cursive;
    font-size: 20px;
}

#number_of_sessions{
    font-size: 44px;
    width: 100px;
    height: 75px;
}
.react-datepicker__header{
    background-color: #1ba94c!important;
    
    /* style={{ backgroundColor: '#27C80B'}} */
}
.react-datepicker__day--selected
{
    background-color: #1ba94c!important;
    
    /* style={{ backgroundColor: '#27C80B'}} */
}

.react-datepicker__time-list-item--selected
{
    background-color: #1ba94c!important;
    
    /* style={{ backgroundColor: '#27C80B'}} */
}


/* react-datepicker__header */





/* extra small */
@media only screen and (max-width: 576px){


}
/* small */
@media only screen and (min-width: 576px){


}
/* medium */
@media only screen and (min-width: 768px){
   #new_course_form{
       /* width: 400px; */
   }
        

}

/* large */
@media only screen and (min-width:  992px){


}

/* extra large */
@media only screen and (min-width: 1200px){


}



