
.footer {
    /* background-color: #6add47;
     */
    background: rgb(106,221,71);
    background: linear-gradient(90deg, rgba(106,221,71,1) 5%, rgba(175,177,198,0.6965161064425771) 79%);
    margin: 0px auto;
    padding: 100px 0px 20px 0px;
  }