
.footer {
    /* background-color: #6add47;
     */
     background: rgb(25,102,22);
     background: linear-gradient(90deg, rgba(25,102,22,1) 1%, rgba(0,179,60,1) 53%, rgba(1,255,0,1) 100%);
    margin: 0px auto;
    padding: 50px 0px 20px 0px;
  }

  .avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
  }